<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <body>
    <table style="width: 100%; margin-bottom: 3em;" border="1">
      <tr>
        <td>
          <strong>Classroom</strong>
        </td>

        <td>
          <a href="/courses">
            Courses
          </a>
        </td>
        
        <td>
          <a href="/departments">
            Departments
          </a>
        </td>

        <td>
          <a href="/students">
            Students
          </a>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
